.main-container{
    display: block;
    background-color: ivory;
    color: ivory;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: none;
    margin-right: none;
    padding: 50px;
    border: auto;
    background-position: center;
}

h1, h2, h3, p{
    color: black;
}
 .feature-icons{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
 }